body{
	background-repeat:no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.leftmenu .nav-header{
	background:rgba(255,255,255,0.15);
	color:#000;
	border-top:1px solid rgba(255,255,255,0.3);
	border-bottom:none;
	text-shadow:0 1px 0 rgba(255,255,255,0.3);
	z-index:9;
}
.leftmenu .banner{
	background:url(../images/banner.png);
	bottom:20px;
	height:250px;
	width:180px;
}
ul.breadcrumbs{
	background:rgba(255,255,255,0.1);
	border-top:1px solid rgba(255,255,255,0.3);
	border-bottom:none;
}
ul.breadcrumbs li{
	color:#666;
}
.rightpanel{
	background:none;
}
.header{
	background:url('../images/bg_header.png') no-repeat;
}
.headmenu li{
	border-right:none;
	border-left:none;
}
.pageheader{
	background:rgba(255,255,255,0.15);
	color:#000;
	border-bottom:none;
	border-top:none;
	text-shadow:0 1px 0 rgba(255,255,255,0.3);
}
.breadcrumbs > li.right > a:hover{
	background:rgba(229,238,255,0.2);;
}
.leftmenu .nav-tabs.nav-stacked > li > a:hover, .leftmenu .nav-tabs.nav-stacked > li > a:focus{
	color:none;
}
.leftmenu .nav-tabs.nav-stacked > li.btn-compose > a:hover, .leftmenu .nav-tabs.nav-stacked > li.btn-compose > a:focus{
	background:transparent;
}
.leftmenu .nav-tabs.nav-stacked > li > a{
	border-color:transparent !important;
	color:#FFF;
}
.leftmenu .nav-tabs.nav-stacked .dropdown ul li a{
	background-color:rgba(229,238,255,0.1);
}
.leftmenu .nav-tabs.nav-stacked > li.dropdown ul li{
	border:0px;
}
.msglist li:hover{
	background:rgba(229,238,255,0.7);
	text-decoration:none;
}
.msglist a:hover{
	text-decoration:none;
}
.messagemenu{
	background:transparent;
	margin-bottom:-1px;
}
.messagemenu ul li{
	width:225px;
}
.messagemenu ul li a{
	color:#000 !important;
}
.messagemenu ul li.active a{
	background:rgba(255,255,255,.90)
}
.messagemenu ul li.no-active a{
	background:rgba(243,243,243,.85);
}
.cols-aktif{
	background-color:rgba(255,255,255,.80);
	font-weight: bold;
}
.search-surat{
	display:inline;
	margin-right:20px;
}
.search-surat input{
	background: url(../images/icons/search.png) no-repeat 254px 8px;
	padding: 5px 10px;
	margin-top: -5px;
	width: 260px;
}
.search-surat input:focus{
	background: #FFF url(../images/icons/search.png) no-repeat 254px 8px;
}
.search-surat label.error{
	display: none !important;
}
a.btn.disabled{
	background-color: #FFF;
}
.date_silver{
	color: #999999;
	font-size: 10px;
	cursor: pointer;
}
.date_table_poin{
	font-size: 11px;
	cursor: pointer;
}
.chatmsgearch{
	border-top:1px solid #bb2f0e;
	background:rgba(255,255,255,.10)!important;
}
.messageleft{
	background:rgba(255,255,255,.90)!important;
}
.read-true{

}
.read-false{
	background:#b6b5b5!important;
}
.messagemenu{
	margin-top:0px;
}
.widgettitle{
	background:#b6b5b5;
}
.widgetcontent{
	border:2px rgba(255,255,255,.70) solid;
	background:rgba(255,255,255,.70);
}
.table-invoice tr td:first-child{
	background:rgba(255,255,255,0.4);
}
.table-invoice tr td:last-child{
	background:rgba(255,255,255,0.2);
}
.text-link{
	color: #bb2f0e;
}
.new-pesan{
	background-color:#e9b330;
	margin-left: 8px;
	color: white;
	font-size: 9px;
	line-height: 12px;
	height: 13px;
	padding: 0 4px 0 4px;
	border-radius: 2px;
	float: right;
}
.p-bottom{
	border:0;
	border-top:1px solid #ccc;
	bottom:0;
	margin:0 0 0 5px;
	padding:0;
}
.p-bottom .nav-tabs.nav-stacked > li {
	display:inline-flex;
}

.p-bottom .nav-tabs.nav-stacked > li > a{
	margin-right:0px;
	padding-right:0px;
}
.p-bottom .nav-tabs.nav-stacked > li > a:hover,
.p-bottom .nav-tabs.nav-stacked > li > a:focus {
	background:none;
	color:#ccc;
}

ul.chatmsg 
{
	padding:5px;
}

ul.chatmsg  li span
{
	display: inline-block;
	max-width: 200px;
	margin-bottom:5px;
	background-color: white;
	padding: 5px;
	border-radius: 4px;
	position: relative;
	border-width: 1px;
	border-style: solid;
	border-color: grey;
}

ul.chatmsg  li span.left
{
	float: left;
}

ul.chatmsg  li span.left:after
{
	content: "";
	display: inline-block;
	position: absolute;
	left: -8.5px;
	top: 7px;
	height: 0px;
	width: 0px;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-right: 8px solid white;
}

ul.chatmsg  li span.left:before
{
	content: "";
	display: inline-block;
	position: absolute;
	left: -9px;
	top: 7px;
	height: 0px;
	width: 0px;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-right: 8px solid black;
}

ul.chatmsg  li span.right:after
{
	content: "";
	display: inline-block;
	position: absolute;
	right: -8px;
	top: 6px;
	height: 0px;
	width: 0px;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 8px solid #dbedfe;
}

ul.chatmsg li span.right:before
{
	content: "";
	display: inline-block;
	position: absolute;
	right: -9px;
	top: 6px;
	height: 0px;
	width: 0px;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 8px solid black;
}

ul.chatmsg li span.right
{
	float: right;
	background-color: #dbedfe;
}

ul.chatmsg li
{
	clear:both;
}

ul.chatmsg li img
{
	float:left;
	max-height:30px;
	margin-right:10px;
}

.ui-helper-hidden-accessible{
	display:none !important;
}

.ui-widget-content {
    border: 1px solid #aaaaaa;
    background: #ffffff url("images/ui-bg_flat_75_ffffff_40x100.png") 50% 50% repeat-x;
    color: #222222;
    width: 280px !important;
}

.ui-menu .ui-menu-item {
    position: relative;
    margin: 0;
    padding: 3px 1em 3px .4em;
    cursor: pointer;
    min-height: 0;
    list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
}