label.error{
	display:none !important;
}
.overlay{
	background: linear-gradient(45deg, rgba(29, 107, 241, 0.8) 0%, rgba(20, 229, 132, 0.8) 100%);
	background-size: 100%;
	width: 100%;
	height: 100%;
	position: absolute;
}
.gradientbg {
	background: rgb(29, 107, 241);
	background: -moz-linear-gradient(45deg, rgba(29, 107, 241, 1) 0%, rgba(20, 229, 132, 1) 100%);
	background: -webkit-linear-gradient(45deg, rgba(29, 107, 241, 1) 0%, rgba(20, 229, 132, 1) 100%);
	background: linear-gradient(45deg, rgba(29, 107, 241, 1) 0%, rgba(20, 229, 132, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1d6bf1', endColorstr='#14e584', GradientType=1);
}
.underTitleLine{
	border-radius: 3px;
	height: 6px;
	margin: 20px 0px;
	width: 80px;
}
.logo{
	padding: 0px !important;
}
input[type="text"],input[type="password"]{
	margin-bottom:17px;
}
.inputwrapper .themeInputs {
	border: 0px solid #eeee !important;
	border-bottom: 1px solid #eeeeee !important;
	box-shadow: none !important;
}
.inputwrapper .themeInputs:active,.inputwrapper .themeInputs:focus{
    border-color: rgb(105, 164, 205) !important;
}
.error .themeInputs, .error .themeInputs:active, .error .themeInputs:focus{
    border-color: #da5251 !important;
}
.gradientBtn{
	background: rgb(29, 107, 241); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(29, 107, 241, 1) 0%, rgba(20, 229, 132, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(29, 107, 241, 1) 0%, rgba(20, 229, 132, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(29, 107, 241, 1) 0%, rgba(20, 229, 132, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1d6bf1', endColorstr='#14e584', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    border: medium none;
    color: #fff;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
    transition: all 0.3s ease 0s;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
}
.gradientBtn:hover,.gradientBtn:active,.gradientBtn:focus{
	font-weight: bold;
	background: linear-gradient(45deg, rgba(29, 107, 241, 1) 20%, rgba(20, 229, 132, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}